{% extends 'base.html.twig' %}

{% block title %}Posts index
{% endblock %}

{% block body %}
	<header>
		<nav class="nav-bar">
			{% if app.user %}
				<a
					href="{{ path('app_user_index', {'id': app.user.id}) }}">
					{# {{ dump(app.user.profilePicture) }} #}
					<img src="{{ asset('uploads/profile_pictures/' ~ app.user.profilePicture) }}" class="pp-nav" alt="Photo de profil" style="max-width: 50px; max-height: 50px;">
				</a>
				<img src="{{ asset('images/star_white.svg') }}" class="logo-nav" alt="Logo Astra">
				<a href="{{ path('app_logout') }}" class="btn">Log out</a>

				{% else %}
			{% endif %}
		</nav>
	</header>
	<main
		class="tweet-page">
		{# <h1>Tweets</h1> #}

		{% for post in posts %}
			<div class="tweet">
				<div class="userIDTweet">
					<img class="imgProfileTweet" src="{{ asset(app.user.profilePicture) }}" alt="Photo de profil" style="max-width: 50px; max-height: 50px;">
					<h3>{{ post.user.username }}</h3>
				</div>
				<div class="userContentTweet">
					<p>{{ post.content|slice(0, 250) }}</p>
				</div>
				<div>
					<p>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>

					<div>
						<a href="{{ path('app_posts_show', {'id': post.id}) }}">show</a>
						<a href="{{ path('app_posts_edit', {'id': post.id}) }}">edit</a>
					</div>
				</div>

			{% else %}
				<p>
					Pas de tweets trouvées
				</p>
			{% endfor %}

			<a href="{{ path('app_posts_new') }}">Créer un tweet</a>
		</main>
		<footer>&copy; Copyright 2025 - Astra</footer>

	{% endblock %}
