{% extends 'base.html.twig' %}

{% block title %}New Posts
{% endblock %}

{% block body %}
	<header>
		<nav class="nav-bar">
			{% if app.user %}
				<a href="{{ path('app_user_index', {'id': app.user.id}) }}" class="btn">Profile</a>
				<img src="{{ asset('images/star_white.svg') }}" class="logo-nav" alt="Logo Astra">

				<a href="{{ path('app_logout') }}" class="btn">Log out</a>

				{% else %}
			{% endif %}
		</nav>
	</header>
	<main>
		<h1>Create new Posts</h1>

		{{ include('posts/_form.html.twig') }}

		<a href="{{ path('app_posts_index') }}">back to list</a>
	</main>
{% endblock %}
