{% extends 'base.html.twig' %}

{% block title %}Posts
{% endblock %}

{% block body %}
	<h1>Posts</h1>

    <div>
        <div>
            <img src="{{ asset(post.user.profilePicture) }}" alt="Photo de profil" style="max-width: 75px; max-height: 75px; border-radius: 50%;">
            <p> {{ post.user.username }} </p>
        </div>
        <div>
            <p> {{ post.content }} </p>
        </div>
        <div>
        <p> {{ post.createdAt|date('Y-m-d H:i:s')}} </p>
            <div>
                <a href="{{ path('app_retweet', {'id': post.id}) }}" class="btn btn-primary">Retweeter</a>
                <p> {{ retweetCount }} </p>
            </div>
            <div>
                <a href="{{ path('app_like', {'id': post.id}) }}" class="btn btn-primary">Like</a>
                <p> {{ likeCount }} </p>
            </div>
        </div>
    </div>

        <a href="{{ path('app_comment_new', { 'id': post.id }) }}">Ajoutez un commentaire</a>

    {% for comment in comments %}
    <div>
        <img src="{{ asset(comment.user.profilePicture) }}" alt="Photo de profil" style="max-width: 75px; max-height: 75px; border-radius: 50%;">
        <p>{{ comment.user.username }}</p>
    </div>
    <div>
        <p> {{ comment.content }}
    </div>
    <div>
        <p> {{ post.createdAt|date('Y-m-d H:i:s')}} </p>
    </div>

    {% else %}

    <p> Pas de commentaires trouvées </p>

    {% endfor %}

				<a href="{{ path('app_posts_index') }}">back to list</a>

                {# <a href="{{path('app_user_index', {'id': user.id}) }}">Profile</a> #}

				{{ include('posts/_delete_form.html.twig') }}
			{% endblock %}
