{% extends 'base.html.twig' %}

{% block title %}Posts
{% endblock %}

{% block body %}
	<header>
		<nav class="nav-bar">
			{% if app.user %}
				<a href="{{ path('app_user_index', {'id': app.user.id}) }}">
					<img src="{{ asset(app.user.getProfilePicture()) }}" class="pp-nav" alt="Photo de profil" style="max-width: 50px; max-height: 50px;">
				</a>
				<img src="{{ asset('images/star_white.svg') }}" class="logo-nav" alt="Logo Astra">

				<a href="{{ path('app_logout') }}" class="btn">Log out</a>

				{% else %}
			{% endif %}
		</nav>
	</header>
	<main>
		<h1>Posts</h1>

    <div>
        <div>
            <img>
            <p> {{ post.user.username }} </p>
        </div>
        <div>
            <p> {{ post.content }} </p>
        </div>
        <div>
        <p> {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }} </p>
        <div>
            <a href="{{ path('app_retweet', {'id': post.id}) }}" class="btn btn-primary">Retweeter</a>
            <p> {{ retweetCount[post.id] }} </p>
        </div>
        <div>
            <a href="{{ path('app_like', {'id': post.id}) }}" class="btn btn-primary">Like</a>
            <p> {{ likeCount[post.id]}} </p>
        </div>
    <div>

					<a href="{{ path('app_posts_index') }}">back to list</a>

					<a href="{{ path('app_posts_edit', {'id': post.id}) }}">edit</a>

					{{ include('posts/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</main>
	<footer>&copy; Copyright 2025 - Astra</footer>

{% endblock %}
