{% extends 'base.html.twig' %}

{% block title %}Posts
{% endblock %}

{% block body %}
	<header>
		<nav class="nav-bar">
			{% if app.user %}
				<a href="{{ path('app_user_index', {'id': app.user.id}) }}">
					<img src="{{ asset(app.user.getProfilePicture()) }}" class="pp-nav" alt="Photo de profil" style="max-width: 50px; max-height: 50px;">
				</a>
				<img src="{{ asset('images/star_white.svg') }}" class="logo-nav" alt="Logo Astra">

				<a href="{{ path('app_logout') }}" class="btn-logout">
					<?xml
					version="1.0" encoding="utf-8"?>
					<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
					<svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.707,8.707,5.414,11H17a1,1,0,0,1,0,2H5.414l2.293,2.293a1,1,0,1,1-1.414,1.414l-4-4a1,1,0,0,1,0-1.414l4-4A1,1,0,1,1,7.707,8.707ZM21,1H13a1,1,0,0,0,0,2h7V21H13a1,1,0,0,0,0,2h8a1,1,0,0,0,1-1V2A1,1,0,0,0,21,1Z"/></svg>
				</a>

				{% else %}
			{% endif %}
		</nav>
	</header>
	<main>
		<h1>Posts</h1>

    <div>
        <div>
            <img src="{{ asset(post.user.profilePicture) }}" alt="Photo de profil" style="max-width: 75px; max-height: 75px; border-radius: 50%;">
            <p> {{ post.user.username }} </p>
        </div>
        <div>
            <p> {{ post.content }} </p>
        </div>
        <div>
        <p> {{ post.createdAt|date('Y-m-d H:i:s')}} </p>
            <div>
                <a href="{{ path('app_retweet', {'id': post.id}) }}" class="btn btn-primary">Retweeter</a>
                <p> {{ retweetCount }} </p>
            </div>
            <div>
                <a href="{{ path('app_like', {'id': post.id}) }}" class="btn btn-primary">Like</a>
                <p> {{ likeCount }} </p>
            </div>
        </div>
    </div>

        <a href="{{ path('app_comment_new', { 'id': post.id }) }}">Ajoutez un commentaire</a>

    {% for comment in comments %}
    <div>
        <img src="{{ asset(comment.user.profilePicture) }}" alt="Photo de profil" style="max-width: 75px; max-height: 75px; border-radius: 50%;">
        <p>{{ comment.user.username }}</p>
    </div>
    <div>
        <p> {{ comment.content }}
    </div>
    <div>
        <p> {{ comment.createdAt|date('Y-m-d H:i:s')}} </p>
    </div>
    {% if app.user.id == comment.user.id %}
    {{ include('comment/_delete_form.html.twig') }}
    {% endif %}

    {% else %}

    <p> Pas de commentaires trouvées </p>

    {% endfor %}

				<a href="{{ path('app_posts_index') }}">back to list</a>

                {# <a href="{{path('app_user_index', {'id': user.id}) }}">Profile</a> #}

                {% if app.user.id == post.user.id %}
                {{ include('posts/_delete_form.html.twig') }}
                {% endif %}
			{% endblock %}
