{% extends 'base.html.twig' %}

{% block title %}Astra - Inscription
{% endblock %}

{% block body %}
	<main>
		<div class="register-page">
			<div class="box-logo">
				<img src="{{ asset('images/star_blue.svg') }}" class="logo logo-register" alt="Logo Astra">
			</div>

			<h1 class="h1-register">Inscrivez-vous !</h1>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm, { 'attr': {'class': 'form-register'} }) }}


			<div class="form-group">
				{{ form_widget(registrationForm.email, {'attr': {'class': 'input-register', 'placeholder': ' '}}) }}
				{{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'label-register'}}) }}
			</div>

			<div class="form-group">
				{{ form_widget(registrationForm.number, {'attr': {'class': 'input-register', 'placeholder': ' '}}) }}
				{{ form_label(registrationForm.number, 'Numéro', {'label_attr': {'class': 'label-register'}}) }}
			</div>

			<div class="form-group">
				{{ form_widget(registrationForm.username, {'attr': {'class': 'input-register', 'placeholder': ' '}}) }}
				{{ form_label(registrationForm.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'label-register'}}) }}
    </div>

    <div class="form-group">
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input-register', 'placeholder': ' '}}) }}
        {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'label-register'}}) }}
    </div>

    <div class="form-group agree-terms">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'checkbox-register'}}) }}
        {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions', {'label_attr': {'class': 'label-agree-terms'}}) }}
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button type="submit" class="button-register">S'inscrire</button>

			{{ form_end(registrationForm) }}
		</div>
	</main>

	<footer>&copy; Copyright 2025 - Astra</footer>

{% endblock %}
