{% extends 'base.html.twig' %}

{% block title %}Edit Comment
{% endblock %}

{% block body %}
	<header>
		<nav class="nav-bar">
			{% if app.user %}
				<a href="{{ path('app_user_index', {'id': app.user.id}) }}">
					<div class="pp-nav-box">
						<img src="{{ asset(app.user.getProfilePicture()) }}" class="pp-nav" alt="Photo de profil">
					</div>
				</a>
				<img src="{{ asset('images/star_white.svg') }}" class="logo-nav" alt="Logo Astra">

				<a href="{{ path('app_logout') }}" class="btn-logout">
					<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="logout-svg"><path d="M7.707,8.707,5.414,11H17a1,1,0,0,1,0,2H5.414l2.293,2.293a1,1,0,1,1-1.414,1.414l-4-4a1,1,0,0,1,0-1.414l4-4A1,1,0,1,1,7.707,8.707ZM21,1H13a1,1,0,0,0,0,2h7V21H13a1,1,0,0,0,0,2h8a1,1,0,0,0,1-1V2A1,1,0,0,0,21,1Z"/></svg>
				</a>

				{% else %}
			{% endif %}
		</nav>
	</header>
	<main>
		<h1>Ecrire un commentaire</h1>

		{{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

		{# <a href="{{ path('app_comment_index') }}"><svg class="goback" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
										<polygon points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"/>
									</svg></a> #}

		{{ include('comment/_delete_form.html.twig') }}
	</main>
	<footer>&copy; Copyright 2025 - Astra</footer>

{% endblock %}
