{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<header>
		<nav class="nav-bar">
			{% if app.user %}
				<a href="{{ path('app_posts_index') }}">
					<img src="{{ asset('images/star_white.svg') }}" class="logo-nav" alt="Logo Astra">
				</a>

				<a href="{{ path('app_logout') }}" class="btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ffffff" class="bi bi-box-arrow-right" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
						<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
					</svg>
				</a>

				{% else %}
			{% endif %}
		</nav>
	</header>
	<main>
	<p>here</p>
		<h1>Edit User</h1>

		{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="btn btn-outline-primary" href="{{ path('app_user_index', {'id': app.user.id}) }}">back to profile</a>

		{{ include('user/_delete_form.html.twig') }}
	</main>
	<footer>&copy; Copyright 2025 - Astra</footer>

{% endblock %}
