{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<header>
		<nav class="nav-bar">
			{% if app.user %}

				<img src="{{ asset('images/star_white.svg') }}" class="logo-nav" alt="Logo Astra">

				<a href="{{ path('app_logout') }}" class="btn-logout">
					<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="logout-svg"><path d="M7.707,8.707,5.414,11H17a1,1,0,0,1,0,2H5.414l2.293,2.293a1,1,0,1,1-1.414,1.414l-4-4a1,1,0,0,1,0-1.414l4-4A1,1,0,1,1,7.707,8.707ZM21,1H13a1,1,0,0,0,0,2h7V21H13a1,1,0,0,0,0,2h8a1,1,0,0,0,1-1V2A1,1,0,0,0,21,1Z"/></svg>
				</a>

				{% else %}
			{% endif %}
		</nav>
	</header>
	<main>
		<h1>Edit User</h1>

		{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_user_index', {'id': app.user.id}) }}">back to profile</a>

		{{ include('user/_delete_form.html.twig') }}
	</main>
	<footer>&copy; Copyright 2025 - Astra</footer>

{% endblock %}
