{% extends 'base.html.twig' %}

{% block title %}
	{{user.username}}'s Profile
{% endblock %}

{% block body %}
	<header>
		<nav class="nav-bar">
			{% if app.user %}
				<a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="btn">Modifier le profil</a>
				<img
				src="{{ asset('images/star_white.svg') }}" class="logo-nav" alt="Logo Astra">

				{# <a href="{{ path('app_posts_index') }}" class="btn">Feed</a> #}
				<a href="{{ path('app_logout') }}" class="btn">Log out</a>

				{% else %}
			{% endif %}
		</nav>
	</header>

	<main>

		<div class="">
			<div class="">
				<div class="">
					<img src="{{ asset(user.profilePicture) }}" alt="Photo de profil" style="max-width: 150px; max-height: 150px;">
				</div>
				<div class="">
					<h1>{{ user.username }}</h1>
					{# <p>{{ user.email }}</p> #}
				</div>

				<div class="">
					<h2>Latest Tweets</h2>
					{% for post in posts %}
						<div class="">
							<p>{{ post.content }}</p>
							<span>Posted on
								{{ post.createdAt|date('Y-m-d H:i') }}</span>
						</div>
					{% else %}
						<p>No tweets to show.</p>
					{% endfor %}
				</div>
			</div>

		</div>
		<div class="">
			<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
		</div>
	</main>
	<footer>&copy; Copyright 2025 - Astra</footer>

{% endblock %}
